<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <label>Task:</label>
    </div>
    <div class="col-md-5">
      <input class="greyback" type="text"  size="50"  [(ngModel)]="taskFilter.taskName">
    </div>
    <div class="col-md-1">
      <label>Parent Task:</label>
    </div>
    <div class="col-md-5">
      <input class="greyback" type="text" size="50" [(ngModel)]="taskFilter.parent">
    </div>
  </div>
<br>
    <div class="row rt-mar-10">
        <div class="col">
            <label>Priority From:</label>
        </div>
        <div class="col">
            <input class="greyback" id="priorityFrom-search" [(ngModel)] = "taskFilter.priorityFrom" />
        </div>
        <div class="col">
            <label >Priority To:</label>
        </div>
        <div class="col">
            <input class="greyback" id="priorityTo-search" [(ngModel)] = "taskFilter.priorityTo"/>
        </div>
        <div class="col">
            <label>Start Date:</label>
        </div>
        <div class="col">
            <input class ="greyback" type="text" id="startDate-search" [(ngModel)] = "taskFilter.startDate" bsDatepicker />      
        </div>
        <div class="col">
            <label>End Date:</label>
        </div>
        <div class="col">
            <input type = "text"class=" greyback" id="endDate-search" [(ngModel)] = "taskFilter.endDate" bsDatepicker/>
        </div>
    </div>
  </div>
       
 
    <hr class="dotted" />