  <app-search-task></app-search-task>
  <br>
  <table class="table borderless">
    <tbody  *ngFor="let task of tasks | searchFilter: taskFilter.TaskName:taskFilter.ParentTaskName:taskFilter.PriorityFrom:taskFilter.PriorityTo:taskFilter.StartDate:taskFilter.EndDate">
      <tr>
        <th scope="col" style="width:25%">Task</th>
        <th scope="col"style="width:25%">ParentTaskName</th>
        <th scope="col" style="width:10%">Priority</th>
        <th scope="col" style="width:10%">Start</th>
        <th scope="col" style="width:10%">End</th>
      </tr>
  <tr>
      <td><div class ="greylabel">{{task.TaskName}}</div></td>
      <td><div class ="greylabel">{{task.ParentTaskName}}</div></td>
      <td>{{task.Priority}}</td>
      <td>{{task.StartDate | date:'shortDate'}}</td>
      <td>{{task.EndDate | date:'shortDate'}}</td>
      <td><button style="width:100px"  (click)="EditTask(task.TaskId)">Edit</button></td>
      <td><button style="width:100px" (click) ="EndTask(task)">End Task</button></td>
    </tr>
    </tbody>
  </table>
